:root {
  --bg: #0e0e0f;
  --surface: #18181a;
  --surface2: #222224;
  --border: rgba(255, 255, 255, 0.08);
  --border2: rgba(255, 255, 255, 0.14);
  --text: #f0ede8;
  --muted: #888784;
  --accent: #e1306c;
  --accent2: #f77737;
  --grad: linear-gradient(
    135deg,
    #f09433,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888
  );
}

html {
  height: 100%;
}
body {
  font-family: "DM Sans", sans-serif;
  background: var(--bg);
  color: var(--text);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem 4rem;
  overflow: hidden;
  justify-content: center;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: var(--surface);
  border: 1px solid var(--border);
  border-radius: 20px;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  gap: 20px;
}

.form__search-form {
  gap: 6px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.form__block-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.form__block-btn button {
  background: var(--surface2);
  color: var(--text);
  border: 1px solid #ddd;
  padding: 6px 12px;
  border-radius: 8px;
  font-size: 13px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: 0.2s;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form__submit {
  background: var(--grad);
  border: none;
  transition:
    transform 0.2s,
    filter 0.2s;
  color: var(--text);
  padding: 12px 12px;
  font-size: 1.2rem;
  cursor: pointer;
  gap: 5px;
  border-radius: 10px;

}
.form__block-btn button:hover {
  filter: brightness(1.1);
  transform: translateY(-2px);
}

input {
  min-width: 30vw;
  background: var(--surface2);
  border: 1px solid var(--border2);
  color: var(--text);
  border-radius: 12px;
  padding: 8px 12px;
  margin-bottom: 16px;
}

h1 {
  font-size: 2rem;
  padding: 0;
  margin: 0;
}
